<script src="https://kit.fontawesome.com/5033909c1e.js" crossorigin="anonymous"></script>
<script>
    const inputElement = document.getElementById('myInput');

inputElement.addEventListener('focus', function() {
    // Remove the placeholder attribute when the input is focused
    inputElement.removeAttribute('placeholder');
});

inputElement.addEventListener('blur', function() {
    // Restore the placeholder attribute when the input loses focus
    inputElement.setAttribute('placeholder', 'New Item');
});
</script>
</body>
</html>